/* @import "tailwindcss"; */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #76a9e3, #f893bf, #76a9e3);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.input {
  border: none;
  background-color: white;
  color: purple;
  font-family: "Agdasima";
  font-size: 25px;
  width: 310px;
  height: 70px;
  padding: 10px 10px;
  outline: none;
}

input :active {
  border: none;
}

.space {
  padding-top: 25px;
  display: flex;
  gap: 20px;
}

.main {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  width: 350px;
  height: 500px;
  border-radius: 20px;
  padding: 20px;
  margin-top: 110px;
  border: 1px solid rgba(255, 255, 255, 0.527);
  box-shadow: 0 8px 32px 0 rgba(38, 45, 153, 0.651);
}

.btn {
  cursor: pointer;
  border-radius: 10px;
  color: purple;
  border: 1px solid white;
  font-family: "Agdasima";
  font-size: 20px;
  text-align: center;
  width: 70px;
  height: 50px;
  padding: 12px 12px;
  background-color: white;
  transition: transform 0.3s ease-in;
}

.btn:hover {
  background-color: purple;
  color: white;
  transform: scale(1.09);
}

.btn:active {
  box-shadow: 5px 10px 3px white;
}

.btn2:active {
  box-shadow: 8px 10px 3px rgba(128, 0, 128, 0.829);
  background-color: white;
  color: purple;
}

.btn2 {
  background-color: pink;
  font-size: 23px;
}
